html, body, footer {
    margin: 0;
    padding: 0;
}

body {
    text-decoration: none;
}
.header{
    width: 100%;
    position: fixed;
}
.header nav{
    padding-right: 80px;
    padding-top: 20px;
    float: right;
}
.header nav ul li{
    list-style-type: none;
    display: inline;
    margin: 20px;
}
.header nav ul li a{
    text-decoration: none;
    color: #2c2e30;
    font-weight: bold;
}
.cover{
    background-image: url(../images/simon-berger-twukN12EN7c-unsplash.jpeg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
main{
    text-align: center;
    padding: 150px;
}
.myname {
    font-size: 78px;
    color:#2c2e30;
}
.scroll{
    width: 70px;
    height: 50px; 
}
.scrolla{
    position: absolute;
    margin-top: 300px;
}
.section{
    margin: 0;
    width: 100%;
    height: 100vh;
}
section h1{
    padding-top:50px;
    text-align: center;
    font-weight: 900;
    font-size: 40px;
}
.intro{
    width: 400px;
    padding: 50px;
    position: absolute;
    display: inline-block; 
}
